<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EqaulizerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F1E25F51D2E23DC00116341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1E26091D2E23DD00116341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1E26141D2E23DD00116341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
